.page {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero {
  border-radius: 24px !important;
}

.contentRow {
  margin-top: 0;
}

.search {
  width: 240px;
}

@media (max-width: 768px) {
  .search {
    width: 100%;
  }
}
